# Dependencies
node_modules/
frontend/node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Database binaries & dynamic uploads
backend/data/*.sqlite
backend/data/*.sqlite-journal
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
